@import '../../../../node_modules/retinajs/dist/_retina.scss';

$form_width: 450px;
$form_bg_color:#565656;

.login-form {
    box-sizing: border-box;
    .error {
        color: red
    }
    @media (min-width: 768px) {
        margin-top: 70px;
    }
    @media (max-width: 767px) {
        margin-top: 30px;
    }

    .underline {
        text-decoration: underline;
        padding-left: 0px !important;
    }

    color: $form_bg_color;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #description-section {
        background: #F7F7F7;
        width: $form_width;
        @media (max-width: 767px) {
            width: 100%;
        }
        #text {
            color: $form_bg_color;
            text-align: center;
            font-size: 18px;
            font-weight: lighter;
            font-family: Arial;
            line-height: 22px;
            margin-top: 20px;
        }
    }

    #form-section {
        background: #F7F7F7;
        padding-bottom: 1em;
        border: 0;

        @media (max-width: 767px) {
            width: 100%;
        }

        form {

            @media only screen and (max-width: 767px) {
                width: 100%;
            }

            @media only screen and (min-width: 768px) {
                input, select {
                    height: 35px;
                }
                width: $form_width;
            }

            label {
                font-size: 14px;
                line-height: 16px;
            }

            #input-section {
                width: inherit;
                background: #F7F7F7;
                padding-left: 1em;
                padding-right: 1em;
                border: 0;
                margin-bottom: 1.5em;

                #birthdate-section {
                    display: flex;
                    justify-content: space-between;
                }

                .form-group {
                    label.required::after {
                        content: " *";
                        color: red;
                    }
                    input, select {
                        border-radius: 0;
                        border: 0;
                    }
                    input::placeholder {
                        color: #CCCCCC;
                    }
                    select:not(:first-child):not(:last-child) {
                        margin-right: 1em;
                        margin-left: 1em;
                    }
                }
            }
            #button-section {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .form-button {
                    margin-left: 1em;
                    margin-right: 1em;
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button {
                        max-width: 280px;
                        border: 0;
                        border-radius: 0;
                        background: #206FCC;
                        font-family: ArialMT;
                        font-size: 14px;
                        color: #FFFFFF;
                        letter-spacing: 0.5px;
                        text-align: center;
                        text-transform: uppercase;
                        height: 35px;
                    }
                }
            }
        }
    }
}
