@import '../../../../node_modules/retinajs/dist/_retina.scss';

.error {
  color: #D0021B !important;
}

.register-form {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    margin-top: 70px;
  }
  @media screen and (max-width: 767px) {
    margin-top: 30px;
  }

  .underline {
    text-decoration: underline;
    padding-left: 0px !important;
  }

  .form-container {
    @media screen and (min-width: 768px) {
      max-width: 556px;
    }

    #description-section {
      width: 100%;
      display: flex;
      justify-content: center;
      #text {
        color: #565656;
        text-align: center;
        font-weight: lighter;
        font-family: ArialMT;
        margin-bottom: 2em;
      }
      @media screen and (min-width: 768px) {
        font-size: 18px;
        line-height: 1.2;
        #text {
          padding: 0em 2em 0em 2em;
        }
      }
      @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 1.4;
        #text {
          padding: 0em 1em 0em 1em;
        }
      }
    }

    #form-section {
      width: 100%;
      display: flex;
      justify-content: center;
      //@media screen and (max-width: 767px) {
      //  padding: 0px 15px 0em 15px;
      //}
      form {
        width: 100%;
        #input-section {
          width: inherit;
          height: 735px;
          background: #F7F7F7;
          border: 0;
          margin-bottom: 1.5em;
          padding: 0em 15px 0em 15px;
          @media screen and (max-width: 767px) {
            height: auto;
            padding-bottom: 1em;
            padding-top: 1em;
          }

          .form-group {

            #birthdate-header-section, #birthdate-input-section, #phone-header-section {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }

            #phone-description {
              color: #206FCC;
            }

            label {
              font-family: ArialMT;
              color: #565656;
              font-size: 14px;
              line-height: 1.1;
            }

            label.required::after {
              content: " *";
            }

            input, select {
              border-radius: 0;
              border: 0;
            }

            input::placeholder {
              color: #CCCCCC;
            }
            select:not(:first-child):not(:last-child) {
              margin-right: 1em;
              margin-left: 1em;
            }
            #country-input-group {
              margin-left: 1.25em;
            }
            .input-group.birthdate {
              select {
                appearance: none;
              }
              select#name::after {
                color: black;
                display: inline-block;
                width: 0;
                height: 0;
                margin-left: .255em;
                vertical-align: .255em;
                content: "";
                border-top: .3em solid;
                border-right: .3em solid transparent;
                border-bottom: 0;
                border-left: .3em solid transparent;
              }
            }

            @media screen and (max-width: 767px) {
              width: 100%;
              input, select {
                height: 40px;
              }
              .input-group.birthdate {
                max-width: 32%;
              }

              #phone-header-section {
                justify-content: flex-start;
                flex-direction: column;
                align-items: flex-start;
              }
            }

            @media screen and (min-width: 768px) {
              max-width: 516px;
              margin: auto;
              label {
                margin-top: 1.1em;
              }
              input, select {
                height: 35px;
                max-width: 100%
              }
              .input-group.birthdate {
                max-width: 164px;
              }
              .input-group.birthdate:not(:first-child):not(:last-child) {
                margin-right: 0.7em;
                margin-left: 0.7em;
              }
            }

            /*******************************************************
            * Country icon started
            ********************************************************/

            input.form-check-input {
              margin-top: -0.2rem;
            }

            label#icon-usa {
              height: 30px;
              width: 95px;
            }
            label#icon-canada {
              width: 50px;
              height: 30px;
            }

            #country-desktop-canada {
              @include retina('./images/ic-canada-desktop.jpg', 3, cover, center center no-repeat);
              width: 100%;
              height: 100%;
            }

            #country-mobile-canada {
              @include retina('./images/ic-canada-mobile.jpg', 3, cover, center center no-repeat);
              width: 100%;
              height: 100%;
            }

            #country-desktop-usa {
              @include retina('./images/ic-usa-desktop.jpg', 3, cover, center center no-repeat);
              width: 50px;
              height: 30px;
            }

            #country-mobile-usa {
              @include retina('./images/ic-usa-mobile.jpg', 3, cover, center center no-repeat);
              width: 50px;
              height: 30px;
            }

            /**
            * Handle desktop monitor with low dpi
            */
            @media (max-resolution: 1dppx) and (max-width: 767px) {
              #country-mobile-canada {
                background: url('./images/ic-canada-mobile@3x.jpg') center no-repeat;
              }
              #country-mobile-usa {
                background: url('./images/ic-usa-mobile@3x.jpg') center no-repeat;
              }
            }

            @media (max-resolution: 1dppx) and (min-width: 768px) {
              #country-desktop-usa {
                background: url('./images/ic-usa-desktop@2x.jpg') center no-repeat;
              }
              #country-desktop-canada {
                background: url('./images/ic-canada-desktop@2x.jpg') center no-repeat;
              }
            }

            /*******************************************************
            * Country icon ended
            ********************************************************/

            /*******************************************************
            * Question mark
            ********************************************************/
            .question-mark-icon {
              width: 25px;
              height: 25px;
              border-radius: 50%;
              margin-bottom: 2px;
              @media screen and (max-width: 767px) {
                margin-bottom: 0.5rem;
              }
            }
            #desktop-birthday-question-mark {
              border-radius: inherit;
              cursor: pointer;
              @include retina('./images/ico-help-desktop.png', 3, auto, center center no-repeat);
              width: 100%;
              height: 100%;
            }

            #mobile-birthday-question-mark {
              border-radius: inherit;
              @include retina('./images/ico-help-mobile.png', 3, auto, center center no-repeat);
              width: 100%;
              height: 100%;
            }

            /**
            * Handle desktop monitor with low dpi
            */
            @media (max-resolution: 1dppx) and (min-width: 767px) {
              #desktop-birthday-question-mark {
                background: url('./images/ico-help-desktop@3x.png') center no-repeat;
              }
              #mobile-birthday-question-mark {
                display: none;
              }
            }

            @media (max-resolution: 1dppx) and (max-width: 767px) {
              #mobile-birthday-question-mark {
                background: url('./images/ico-help-mobile@3x.png') center no-repeat;
              }
              #desktop-birthday-question-mark {
                display: none;
              }
            }
          }
        }

        #agreement-section {
          width: inherit;
          @media (min-width: 768px) {
            padding-left: 2em;
          }
          label {
            line-height: 2em;
            input {
              height: 1.5em;
              width: 1.5em;
            }
            span {
              padding-left: 1em;
              @media (max-width: 768px) {
                display: inline-block;
              }
            }
          }
        }

        #submit-button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 1.5em;
          max-height: 35px;
          @media screen and (max-width: 767px) {
            padding-left: 15px;
            padding-right: 15px;
          }
          button {
            max-width: 280px;
            @media screen and (max-width: 767px) {
              max-width: 100%;
            }
            border: 0;
            border-radius: 0;
            background: #206FCC;
            font-family: ArialMT;
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0.5px;
            text-align: center;
            text-transform: uppercase;
          }
        }

      }
    }

    #error-section {
      width: 100%;
      color: #ee1b24;
      font-family: ArialMT;
      font-size: 14px;
      line-height: 20px;
      text-align: left;
      ul {
        list-style-type: none;
        padding: 0px;
        li::before {
          content: "-";
          padding-right: 0.5em;
        }
      }
      @media screen and (min-width: 768px) {
        margin-top: 30px;
        padding-left: 2em;
      }
      @media screen and (max-width: 767px) {
        margin: 1em 15px 0 15px;
      }
    }
  }
}
