@import "../../../assets/_variables";

.lds-dual-ring-small {
  width: 54px;
  height: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: $blue transparent $blue transparent;
  animation: lds-dual-ring-small 1s linear infinite;
}

@keyframes lds-dual-ring-small {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring-big {
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid $blue;
  border-color: $blue transparent $blue transparent;
  animation: lds-dual-ring-big 1.2s linear infinite;
}

@keyframes lds-dual-ring-big {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.lds-dual-ring-bigger {
  width: 94px;
  height: 94px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid $blue;
  border-color: $blue transparent $blue transparent;
  animation: lds-dual-ring-bigger 1s linear infinite;
}

@keyframes lds-dual-ring-bigger {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lds-dual-ring-huge {
  width: 114px;
  height: 114px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid $blue;
  border-color: $blue transparent $blue transparent;
  animation: lds-dual-ring-huge 1.5s linear infinite;
}

@keyframes lds-dual-ring-huge {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.loading {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .loading-message {
      color: $white;
    }
}
