@import '../../../../node_modules/retinajs/dist/_retina.scss';

.logo {
  height: 65px;
  max-height: 65px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo-image-container {
    @media (max-width: 767px) {
      width: 157px;
      height: 28px;
    }

    @media (min-width: 768px) {
      width: 182px;
      height: 36px;
    }

    .desktop-logo-image {
      @include retina('./images/logo-desktop.png', 3, cover, center center no-repeat); //    width: 240px;
      width: 100%;
      height: 100%;
    }

    .mobile-logo-image {
      @include retina('./images/logo-mobile.png', 3, cover, center center no-repeat); //    width: 240px;
      width: 100%;
      height: 100%;
    }

    /**
    * Handle desktop monitor with low dpi
    */

    @media (max-resolution: 96dpi) and (min-width: 768px) {
      .desktop-logo-image {
        background: url('./images/logo-desktop@2x.png') center no-repeat;
      }
    }

    @media (max-resolution: 96dpi) and (max-width: 767px) {
      .mobile-logo-image {
        background: url('./images/logo-mobile@2x.png') center no-repeat;
      }
    }
  }
}