.banner {
  background-image: linear-gradient(222deg, #9182C6 0%, #48ADB6 100%);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  opacity: 100%;
  text-transform: uppercase;
  font-family: ArialMT;
  font-weight: bold;

  @media only screen and (max-width: 767px) {
    height: 105px;
    #text {
      line-height: 1.1;
      font-size: 34px;
    }
  }

  @media only screen and (min-width: 768px) {
    height: 179px;
    max-width: 1203px;
    #text {
      line-height: 1.2;
      font-size: 60px;
    }
  }
}