.pop-over-body.pop-over-body {
  color: #FFF;
  font-family: Arial;
  font-size: 16px;
  border: 0;
  border-radius: 2px;
  background: #206FCC;
  text-align: left;
}

.popover.show.bs-popover-left > .arrow {
  display: none;
} 