html {
  font-family: ArialMT, "Helvetica Neue", Helvetica, sans-serif;
  box-sizing: border-box;
  body {
    .container {
      @media screen and (min-width: 768px) {
        padding-left: 0px;
        padding-right: 0px;
      }

      @media screen and (min-width: 1203px) {
        max-width: 1203px;
      }

      @media sreen and (max-width: 767px) {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
    padding-bottom: 1em;
  }
}