@import '../../../../node_modules/retinajs/dist/_retina.scss';

.dropdown, .dropdown-menu {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

.birthdate-dropdown.btn.btn-secondary {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: left;
  background-color: #FFF;
  border: 0px;
  border-radius: 0px;
  color: #CCCCCC;
  font-size: 14px;
  font-weight: lighter;

  @media screen and (min-width: 768px) {
    width: 164px;
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 0.3em;
    width: 100%;
  }

  .dropdown-input {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .capitalize {
      text-transform: capitalize;
    }
  }

  /*******************************************************
  * dropdown arrow
  ********************************************************/
  .dropdown-icon {
    width: 21px;
    height: 15px;
  }
  #desktop-carrot-icon {
    border-radius: inherit;
    @include retina('./images/dropdown-arrow-desktop.png', 3, auto, center center no-repeat);
    width: 100%;
    height: 100%;
  }

  #mobile-carrot-icon {
    border-radius: inherit;
    @include retina('./images/dropdown-arrow-mobile.png', 3, auto, center center no-repeat);
    width: 100%;
    height: 100%;
  }

  #desktop-carrot-error-icon {
    border-radius: inherit;
    @include retina('./images/dropdown-arrow-error-desktop.png', 3, auto, center center no-repeat);
    width: 100%;
    height: 100%;
  }

  #mobile-carrot-error-icon {
    border-radius: inherit;
    @include retina('./images/dropdown-arrow-error-mobile.png', 3, auto, center center no-repeat);
    width: 100%;
    height: 100%;
  }

  /**
  * Handle desktop monitor with low dpi
  */
  @media screen and (max-resolution: 1dppx) and (min-width: 767px) {
    #desktop-carrot-icon {
      background: url('./images/dropdown-arrow-desktop@2x.png') center no-repeat;
    }
    #mobile-carrot-icon {
      display: none;
    }

    #desktop-carrot-error-icon {
      background: url('./images/dropdown-arrow-desktop@2x.png') center no-repeat;
    }
    #mobile-carrot-error-icon {
      display: none;
    }
  }

  @media screen and (max-resolution: 1dppx) and (max-width: 767px) {
    #mobile-carrot-icon {
      background: url('./images/dropdown-arrow-mobile@2x.png') center no-repeat;
    }
    #desktop-carrot-icon {
      display: none;
    }

    #mobile-carrot-error-icon {
      background: url('./images/dropdown-arrow-mobile@2x.png') center no-repeat;
    }
    #desktop-carrot-error-icon {
      display: none;
    }
  }
}